<?xml version='1.0' encoding='utf-8'?>
<widget id="com.drewcovi.clockwork" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Clockwork</name>
    <icon src="res/icons/" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="com.rossgerbasi.cordova.glass.core.keepAwake" value="true"/>
    <name>Clockwork</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="drew.covi@me.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="/index.html" />
    <access origin="*" />
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen"/>
        <param name="onload" value="true" />
    </feature>
</widget>
