@-webkit-keyframes spin {
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes fade-in {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.spin{
	-webkit-animation: spin 1s linear infinite;
}
.fade-in{
	-webkit-animation: fade-in 1s linear;
}
.circle {
    background: black;
    padding: 10px 16px;
    border-radius: 50px;
    -webkit-transition: -webkit-transform ease-out .2s;
    width: 100px;
    height: 100px;
    left: 50%;
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
}
.north {
    -webkit-transform: translate(0,-8px);
    display: block;
    color: white;
    text-align: center;
}
.loader{
	display: inline-block;
	width: 68px !important;
	height: 66px;
	font-size: 68px;
	opacity: 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	-webkit-animation: 	fade-in 1s linear both,
						spin 1s linear infinite;
}
.ember-application {
}
.navbar-right .img-responsive {
    max-height: 50px;
}

.navbar-default {
    background: #00C2FF;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.native .content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: auto;
}

.status-bar {
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #00C2FF;
    -webkit-transition: background-color .3s ease-out;
    width: auto;
}
.native .content {
}

.drawer {
    position: absolute;
    left: 0;
    background: #222121;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 20%;
    height: auto !important;
    width: auto !important;
    -webkit-perspective-origin: 100% 50%;
    -webkit-perspective: 1000;
}
.viewport {
    top: 0;
    background: #00C2FF;
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 0;
	
    right: 0;
    left: 0;
    -webkit-transition: -webkit-transform .35s ease-out;
    -webkit-transform: translateZ(0);
}
.drawer-right{
	right: 0;
    left: 20%;
}

.from-right {
    -webkit-transform: translate3d(80%,0,0);
    top: 0;
}

.content {
    overflow: auto;
    -webkit-overflow-scroll: touch;
}
.container{
	width: auto;
}

.navbar-toggle.left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.native .navbar {
    position: relative;
}

.native .ember-application {
}

.native .drawer {
    border-top: 20px solid black;
}
.drawer.collapse{
	visibility: visible;
	z-index: -1;
	display: block;
}
.status-bar.black {
    background: black;
}

.native .ember-application > .ember-view {
    overflow: hidden; top: 0; left: 0; position: absolute; right: 0; bottom: 0;
}

.swiper-wrapper,.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide {
}
.swiper-container {
}

.modal-backdrop {
}
.modal {
}

.device {
    display: inline-block;
    float: none;
    padding: 0 5px;
}
.devices .swiper-slide {
    white-space: nowrap;
    overflow: scroll;
}

.rooms {
    top: 0;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
}

.sections {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.devices {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
}

.room {
    height: 100%;
    width: 100%;
}

.device .panel-default {
    height: 200px;
}

.drawer .nav-pills a {
    color: white;
    border-radius: 0;
    font-size: 16px;
    padding: 15px 15px;
}
.drawer .nav-pills a:hover {
    background: #252525;
}

.device:first-of-type {
    padding-left: 15px;
}

.device:last-of-type {
    padding-right: 15px;
}

.viewport:after, .viewport:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    content: '';
    -webkit-transition: visibility 0s .35s linear, background-color .35s ease-out;
    visibility: hidden;
    z-index: 2;
}

.viewport.from-right:after, .viewport.from-left:after {
    background: rgba(0,0,0, 0.74);
    visibility: visible;
    -webkit-transition: visibility 0s 0s linear, background-color .35s ease-out;
}

.drawer-left .nav {
    -webkit-transform: rotate3d(0,1,0,0deg);
    -webkit-transform-origin: 50% 0;
    background: #272727;
    -webkit-transition: -webkit-transform .35s ease-out;
    height: 100%;
}
.drawer-left.collapse .nav,.drawer-left.collapsing-out .nav {
    -webkit-transform: rotate3d(0,1,0,-90deg);
}

.drawer-right, .drawer-right.collapse {
    background: white;
    left: 40%;
    top: 50px;
    border: 1px solid gray;
    border-right: 0;
}
.alignright{
	float: right;
}
